<div class="wrapper">
  <article class="head">
    <h1 class="name">
      {{ node?.name || 'Unknown' }}
    </h1>
    <div class="toolbar">
      <status [loading]="node?.loading" [online]="node?.online"></status>
      <button class="expander" [ngClass]="{ expanded: node === (nodesStore.current$ | async) }" (click)="handleToogleExpand()"></button>
    </div>
  </article>
  <div class="body">
    <span class="url">
      {{ node?.url }}
    </span>
  </div>
  <div class="blocks-wrapper" *ngIf="node === (nodesStore.current$ | async)">
    <app-blocks [url]="node?.url"></app-blocks>
  </div>
</div>
